apiVersion: v1
kind: Service
metadata:
  name: todoapp-service
  namespace: todoapp
  labels:
    app: todoapp
spec:
  selector:
    app: todoapp
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
  type: LoadBalancer