apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-service
  namespace: {{ .Values.namespace.name }}
spec:
  selector:
    app: {{ .Release.Name }}
  ports:
  - port: {{ .Values.todoapp.service.port }}
    targetPort: {{ .Values.todoapp.service.targetPort }}
  type: {{ .Values.todoapp.service.type }}